.header {
    @apply flex justify-between w-full py-8 px-6 text-black;
}

.desktopNav {
    @apply hidden md:flex gap-8;
}

.navLink {
    @apply hover:underline font-bold italic;
}

.active {
    @apply underline;
}
