@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Relationship of mélodrame";
    src: url("/fonts/RelationshipOfMelodrame.ttf");
}

:root {
    --lavender: #d7c4f2;
    --peach: #ffd1ba;
    --black: #363636;
}

body {
    @apply font-playfairDisplay bg-gradient-to-b from-[color:var(--lavender)] to-white;
}

@layer utilities {
    .layout {
        @apply max-w-7xl mx-auto w-full;
    }
}
